<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- A simple bean definition -->
   <bean id = "profileFacade" class = "com.panasalbk.app.facade.ProfileFacade">
      <!-- collaborators and configuration for this bean go here -->
   </bean>

   <bean id = "profileProvider" class = "com.panasalbk.app.provider.ProfileProvider">
   </bean>
   
   <bean id = "profileMapper" class = "com.panasalbk.app.mapper.ProfileMapper">
   </bean>
   
   <bean id = "authenticationProvider" class = "com.panasalbk.app.provider.AuthenticationProvider">
   </bean>
   
   <bean id = "authenticationFacade" class = "com.panasalbk.app.facade.AuthenticationFacade">
   </bean>
</beans>